In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("data/unimelb_training.csv")
data.set_index("Grant.Application.ID",drop=True,inplace=True)
data.index.name=None

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (90,105,119,120,123,124,132,134,135,138,139,147,149,150,153,154,162,164,165,168,169,177,179,183,184,192,194,198,199,207,209,213,214,224,237,239,244) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data = data.ix[:,:25]

In [4]:
data.head(2)

,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,RFCD.Code.3,...,SEO.Code.1,SEO.Percentage.1,SEO.Code.2,SEO.Percentage.2,SEO.Code.3,SEO.Percentage.3,SEO.Code.4,SEO.Percentage.4,SEO.Code.5,SEO.Percentage.5
1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,0.0,...,700299.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,280203.0,...,700103.0,50.0,700102.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# Create dummies for Sponsor.Code
data = pd.concat([data,pd.get_dummies(data["Sponsor.Code"],prefix="Sponsor")],axis=1)
data.drop("Sponsor.Code",axis=1,inplace=True)

In [6]:
# Create dummies for Grant.Category.Code
data = pd.concat([data,pd.get_dummies(data["Grant.Category.Code"],prefix="Cat")],axis=1)
data.drop("Grant.Category.Code",axis=1,inplace=True)

In [7]:
# Deal with date

a = pd.to_datetime(data["Start.date"])
year = pd.Series([date.year for date in a],name="year")
month = pd.Series([date.month for date in a],name="month")
day = pd.Series([date.day for date in a],name="day")
data["Start.year"] = year
data["Start.month"] = month
data["Start.day"] = day

# one hot encoding
data = pd.concat([data,pd.get_dummies(data["Start.year"],prefix="Year")],axis=1)
data = pd.concat([data,pd.get_dummies(data["Start.month"],prefix="Month")],axis=1)
data = pd.concat([data,pd.get_dummies(data["Start.day"],prefix="Day")],axis=1)

data.drop(["Start.date"],axis=1,inplace=True)
data.drop(["Start.year"],axis=1,inplace=True)
data.drop(["Start.month"],axis=1,inplace=True)
data.drop(["Start.day"],axis=1,inplace=True)

data.head()

,Grant.Status,Contract.Value.Band...see.note.A,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,RFCD.Code.3,RFCD.Percentage.3,RFCD.Code.4,RFCD.Percentage.4,...,Day_22.0,Day_23.0,Day_24.0,Day_25.0,Day_26.0,Day_27.0,Day_28.0,Day_29.0,Day_30.0,Day_31.0
1,1,A,280199.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,B,280103.0,30.0,280106.0,30.0,280203.0,40.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,A,321004.0,60.0,321216.0,40.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,C,270602.0,50.0,320602.0,50.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0,A,260500.0,34.0,280000.0,33.0,290000.0,33.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [285]:
# Create dummies for Contract.Val
data = pd.concat([data,pd.get_dummies(data["Contract.Value.Band...see.note.A"],prefix="Contract")],axis=1)
data.drop("Contract.Value.Band...see.note.A",axis=1,inplace=True)

In [286]:
# Create dummies for RFCD
sub1 = pd.DataFrame(data.ix[:,1:3])
sub1.rename(columns={"RFCD.Code.1":"RFCD.Code",
                     "RFCD.Percentage.1":"RFCD.Percentage"},inplace=True)

sub2 = pd.DataFrame(data.ix[:,3:5])
sub2.rename(columns={"RFCD.Code.2":"RFCD.Code",
                     "RFCD.Percentage.2":"RFCD.Percentage"},inplace=True)

sub3 = pd.DataFrame(data.ix[:,5:7])
sub3.rename(columns={"RFCD.Code.3":"RFCD.Code",
                     "RFCD.Percentage.3":"RFCD.Percentage"},inplace=True)

sub4 = pd.DataFrame(data.ix[:,7:9])
sub4.rename(columns={"RFCD.Code.4":"RFCD.Code",
                     "RFCD.Percentage.4":"RFCD.Percentage"},inplace=True)

sub5 = pd.DataFrame(data.ix[:,9:11])
sub5.rename(columns={"RFCD.Code.5":"RFCD.Code",
                     "RFCD.Percentage.5":"RFCD.Percentage"},inplace=True)

RFCD = sub1.append(sub2,ignore_index=False)
RFCD = RFCD.append(sub3,ignore_index=False)
RFCD = RFCD.append(sub4,ignore_index=False)
RFCD = RFCD.append(sub4,ignore_index=False)

RFCD[RFCD["RFCD.Code"].isnull()]=0

piv = pd.pivot_table(RFCD,columns="RFCD.Code",index=RFCD.index,fill_value=0,dropna=False)
piv[piv.isnull()]=0
piv.index.name=None

#data = pd.concat([data,piv],axis=1)
data.drop(["RFCD.Code.1","RFCD.Percentage.1",
           "RFCD.Code.2","RFCD.Percentage.2",
           "RFCD.Code.3","RFCD.Percentage.3",
           "RFCD.Code.4","RFCD.Percentage.4",
           "RFCD.Code.5","RFCD.Percentage.5",],axis=1,inplace=True)

In [287]:
# Create dummies for SEO
sub1 = pd.DataFrame(data.ix[:,1:3])
sub1.rename(columns={"SEO.Code.1":"SEO.Code",
                     "SEO.Percentage.1":"SEO.Percentage"},inplace=True)

sub2 = pd.DataFrame(data.ix[:,3:5])
sub2.rename(columns={"SEO.Code.2":"SEO.Code",
                     "SEO.Percentage.2":"SEO.Percentage"},inplace=True)

sub3 = pd.DataFrame(data.ix[:,5:7])
sub3.rename(columns={"SEO.Code.3":"SEO.Code",
                     "SEO.Percentage.3":"SEO.Percentage"},inplace=True)

sub4 = pd.DataFrame(data.ix[:,7:9])
sub4.rename(columns={"SEO.Code.4":"SEO.Code",
                     "SEO.Percentage.4":"SEO.Percentage"},inplace=True)

sub5 = pd.DataFrame(data.ix[:,9:11])
sub5.rename(columns={"SEO.Code.5":"SEO.Code",
                     "SEO.Percentage.5":"SEO.Percentage"},inplace=True)

SEO = sub1.append(sub2,ignore_index=False)
SEO = SEO.append(sub3,ignore_index=False)
SEO = SEO.append(sub4,ignore_index=False)
SEO = SEO.append(sub4,ignore_index=False)

SEO[SEO["SEO.Code"].isnull()]=0

piv = pd.pivot_table(SEO,columns="SEO.Code",index=RFCD.index,fill_value=0,dropna=False)
piv[piv.isnull()]=0
piv.index.name=None

#data = pd.concat([data,piv],axis=1)
data.drop(["SEO.Code.1","SEO.Percentage.1",
           "SEO.Code.2","SEO.Percentage.2",
           "SEO.Code.3","SEO.Percentage.3",
           "SEO.Code.4","SEO.Percentage.4",
           "SEO.Code.5","SEO.Percentage.5",],axis=1,inplace=True)

In [388]:
#from sklearn.preprocessing import LabelBinarizer

raw = pd.read_csv("data/unimelb_training.csv")

people = pd.DataFrame()
time_at_uni = pd.DataFrame()
for col in raw.columns:
    col_list = list(raw.columns) # list so I can use index later

    if col[:10] == 'Person.ID.':
        col_start = col_list.index(col)
        col_end = col_start + 15 # hard coded
        person = raw.iloc[:,col_start:col_end]
        
       
        # including our ID and status
        person.loc[:,'Grant.Application.ID'] = raw.loc[:,'Grant.Application.ID']
        person.loc[:,'Grant.Status'] = raw.loc[:,'Grant.Status']

        col_names = list(person.columns)
        col_names = [col.strip('0123456789') for col in col_names] # removes all numbers
        person.columns = col_names
        #print(len(person))
        
        # Dealing with missing IDs
        id_ = person.loc[:,"Person.ID."]
        id_missing = [np.isnan(i) for i in id_]
        #print(id_missing[50:60])
        role = person.loc[:,"Role."]
        #print(role[50:60])
        role_not_missing = [not pd.isnull(r) for r in role]
        #print(role_not_missing[50:60])
        no_id = [(i&r) for (i,r) in zip(id_missing,role_not_missing)]
        #print(no_id[50:60])
        person.loc[:,"Person.ID."] = np.where(no_id,0,person.loc[:,"Person.ID."])
        #print(person.loc[50:60,"Person.ID."])

        # dealing with number of years at uni
        original = person.loc[:,'No..of.Years.in.Uni.at.Time.of.Grant.'].astype(str)
        transformed = [0 for _ in range(original.size)]
        transformed = np.where(original==">=0 to 5",2.5,transformed)
        transformed = np.where(original==">5 to 10",7.5,transformed)
        transformed = np.where(original==">10 to 15",12.5,transformed)
        transformed = np.where(original=="more than 15",20,transformed)
        transformed = pd.DataFrame(transformed)

        person["No..of.Years.in.Uni.at.Time.of.Grant."] = transformed
        #person = pd.concat([person, transformed], axis=1)
        people = people.append(person, ignore_index=True)
        #print(people.loc[:,"Person.ID."])

# summaries for team
#num_ppl = len(people) / len(person) # should be 15!
people.index = people.loc[:,'Grant.Application.ID']
num_ppl = pd.Series(people.groupby(['Grant.Application.ID'])['Person.ID.'].count(),name="Person.ID.") # include
#num_ppl = np.where(num_ppl==0,1,num_ppl)
#print(num_ppl)

num_birth_years = people.groupby(['Grant.Application.ID'])['Year.of.Birth.'].count()
total_birth_year = people.groupby(['Grant.Application.ID'])['Year.of.Birth.'].sum()
avg_birth_year = total_birth_year / num_birth_years

total_birth_year = people.groupby(['Grant.Application.ID'])['Year.of.Birth.'].sum()
avg_birth_year = pd.Series(total_birth_year / num_ppl,name="Birth.Mean") # include
std_birth_year = pd.Series(people.groupby(['Grant.Application.ID'])['Year.of.Birth.'].std(),name="Birth.std")
std_birth_year[std_birth_year.isnull()]=0
min_birth_year = pd.Series(people.groupby(['Grant.Application.ID'])['Year.of.Birth.'].min(),name="Birth.min")
max_birth_year = pd.Series(people.groupby(['Grant.Application.ID'])['Year.of.Birth.'].max(),name="Birth.max")

avg_no_years_uni = pd.Series(people.groupby(['Grant.Application.ID'])['No..of.Years.in.Uni.at.Time.of.Grant.'].mean(),name="Years.Uni.avg")
std_no_years_uni = pd.Series(people.groupby(['Grant.Application.ID'])['No..of.Years.in.Uni.at.Time.of.Grant.'].std(),name="Years.Uni.std")
std_no_years_uni[std_no_years_uni.isnull()]=0
min_no_years_uni = pd.Series(people.groupby(['Grant.Application.ID'])['No..of.Years.in.Uni.at.Time.of.Grant.'].min(),name="Years.Uni.min")
max_no_years_uni = pd.Series(people.groupby(['Grant.Application.ID'])['No..of.Years.in.Uni.at.Time.of.Grant.'].max(),name="Years.Uni.max")


num_successful = pd.Series(people.groupby(['Grant.Application.ID'])['Number.of.Successful.Grant.'].sum(),name="num_succ")
num_unsuccessful = pd.Series(people.groupby(['Grant.Application.ID'])['Number.of.Unsuccessful.Grant.'].sum(),name="num_unsucc")
ratio_successful = pd.Series(num_successful/(num_successful+num_unsuccessful),name="Ratio.Successful")
ratio_successful[ratio_successful.isnull()]=0

# number of phds - TODO could be improved
num_phd  = pd.Series(people.groupby(['Grant.Application.ID'])['With.PHD.'].count(),name="phd.count") # assuming only value ever entered is yes # include
mean_phd  = pd.Series(people.groupby(['Grant.Application.ID'])['With.PHD.'].count() / \
    len(people.groupby(['Grant.Application.ID'])['With.PHD.']),name="phd.mean")# assuming only value ever entered is yes # include


# Mysterious variables
a__1 = pd.Series(people.groupby(['Grant.Application.ID'])['A..'].sum(),name="a..1.sum") 
a_1 = pd.Series(people.groupby(['Grant.Application.ID'])['A.'].sum(),name="a.1.sum") 
b_1 = pd.Series(people.groupby(['Grant.Application.ID'])['B.'].sum(),name="b.1.sum")
c_1 = pd.Series(people.groupby(['Grant.Application.ID'])['C.'].sum(),name="c.1.sum")
avg_a__1 = pd.Series(people.groupby(['Grant.Application.ID'])['A..'].mean(),name="a..1.avg")  
avg_a_1 = pd.Series(people.groupby(['Grant.Application.ID'])['A.'].mean(),name="a.1.avg")  
avg_b_1 = pd.Series(people.groupby(['Grant.Application.ID'])['B.'].mean(),name="b..1.avg")  
avg_c_1 = pd.Series(people.groupby(['Grant.Application.ID'])['C.'].mean(),name="c..1.avg")  

# Faculty
fac = pd.Series(people.groupby(['Grant.Application.ID'])['Faculty.No..'].mean(),name="faculty")

# Department number
dept_no = pd.Series(people.groupby(['Grant.Application.ID'])['Dept.No..'].mean(),name="dept_no")

# creating DF with summary statistics for each person
people_summary = pd.DataFrame()
ppl_groupby = people.groupby(['Person.ID.'])
people_summary.loc[:,'Num applications'] = ppl_groupby['Grant.Application.ID'].count()
people_summary.loc[:,'Num grant status'] = ppl_groupby['Grant.Status'].sum()
people_summary.loc[:,'Num successful'] = ppl_groupby['Number.of.Successful.Grant.'].sum()
people_summary.loc[:,'Num unsuccessful'] = ppl_groupby['Number.of.Unsuccessful.Grant.'].sum()
people_summary.loc[:,'Ratio'] = people_summary.loc[:,'Num successful'] / (people_summary.loc[:,'Num unsuccessful'] + people_summary.loc[:,'Num successful'])
people_summary.sort(columns=['Ratio'], ascending=False, inplace=True)

# Number of persons per role type
roles = people["Role."].reset_index().pivot_table(columns="Role.",index=people.index,aggfunc=len,fill_value=0)
roles.fillna(value=0,inplace=True)

D:\Users\greg_\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (90,105,119,120,123,124,132,134,135,138,139,147,149,150,153,154,162,164,165,168,169,177,179,183,184,192,194,198,199,207,209,213,214,224,237,239,244) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
D:\Users\greg_\Anaconda3\lib\site-packages\ipykernel\__main__.py:111: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [389]:
# Number of people in the team
input = pd.concat([data,num_ppl],axis=1)

# Year of birth
input = pd.concat([input,avg_birth_year],axis=1)
input = pd.concat([input,std_birth_year],axis=1)
input = pd.concat([input,min_birth_year],axis=1)
input = pd.concat([input,max_birth_year],axis=1)

# Years in Uni 
input = pd.concat([input,avg_no_years_uni],axis=1)
input = pd.concat([input,std_no_years_uni],axis=1)
input = pd.concat([input,min_no_years_uni],axis=1)
input = pd.concat([input,max_no_years_uni],axis=1)

# Application success ratio
input = pd.concat([input,ratio_successful],axis=1)
input = pd.concat([input,num_successful],axis=1)
#input = pd.concat([input,num_unsuccessful],axis=1)

# PhDs in team
input = pd.concat([input,num_phd],axis=1)
input = pd.concat([input,mean_phd],axis=1)

# Roles in team
input = pd.concat([input,roles],axis=1)

# Faculty
input = pd.concat([input,fac],axis=1)

# Department
input = pd.concat([input,dept_no],axis=1)

# Mysterious variables
input = pd.concat([input,a__1],axis=1)
input = pd.concat([input,a_1],axis=1)
input = pd.concat([input,b_1],axis=1)
input = pd.concat([input,c_1],axis=1)
input = pd.concat([input,avg_a__1],axis=1)
input = pd.concat([input,avg_a_1],axis=1)
input = pd.concat([input,avg_b_1],axis=1)
input = pd.concat([input,avg_c_1],axis=1)

# Cleaning
input.columns.name = None

In [390]:
input.shape

(8708, 361)

In [391]:
input.to_csv("data/sanitized.csv")

In [392]:
#input.dropna(inplace=True)
input.fillna(value=0,inplace=True)
X = input.ix[:,1:]
y = input.ix[:,0]
X.shape

(8708, 360)

In [393]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2,random_state=131078)

"""
rfc = RandomForestClassifier(n_jobs=-1,random_state=0)
params={
    "n_estimators":[8,10,12],
    "min_samples_split":[2,4,6],
    "min_samples_leaf":[1,2,4],
}

cv = GridSearchCV(rfc,param_grid=params,n_jobs=-1).fit(X_train,y_train)

"""
gbc = GradientBoostingClassifier(random_state=0)
params={
    "n_estimators":[500],
    "min_samples_split":[6],
    "min_samples_leaf":[2],
}

cv = GridSearchCV(gbc,param_grid=params,n_jobs=-1).fit(X_train,y_train)

print(cv.best_params_)
print(cv.best_score_)

{'min_samples_leaf': 2, 'min_samples_split': 6, 'n_estimators': 500}
0.870657479185

In [394]:
df = pd.DataFrame([X.columns,cv.best_estimator_.feature_importances_]).transpose()
df.columns=["name","score"]
df.sort(columns=["score"],ascending=False)[:50]

D:\Users\greg_\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

                                                name       score
338                                 Ratio.Successful   0.0679042
312                                        Start.day   0.0528462
297                                          Cat_10A   0.0443875
310                                       Start.year   0.0414197
311                                      Start.month   0.0339352
351                                          dept_no   0.0284204
313                                      Contract_A    0.0278119
302                                          Cat_30B   0.0228936
314                                      Contract_B    0.0217887
358                                         b..1.avg   0.0203331
319                                      Contract_G    0.0188774
315                                      Contract_C    0.0188771
316                                      Contract_D    0.0185133
330                                       Birth.Mean   0.0182426
109                                      Sponsor_21A   0.0171135
317                                      Contract_E     0.015766
318                                      Contract_F    0.0154917
359                                         c..1.avg   0.0131205
353                                          a.1.sum   0.0128794
356                                         a..1.avg   0.0125797
304                                          Cat_30D   0.0116137
339                                         num_succ   0.0112608
298                                          Cat_10B   0.0110457
300                                          Cat_20C   0.0109369
331                                        Birth.std   0.0109322
307                                          Cat_30G   0.0103095
332                                        Birth.min   0.0102911
333                                        Birth.max   0.0101029
357                                          a.1.avg   0.0100994
342       (Grant.Application.ID, CHIEF_INVESTIGATOR)   0.0100676
255                                       Sponsor_4D  0.00985448
354                                          b.1.sum  0.00954612
350                                          faculty  0.00910154
352                                         a..1.sum  0.00881089
349  (Grant.Application.ID, STUD_CHIEF_INVESTIGATOR)  0.00840607
309                                          Cat_50A  0.00830392
242                                      Sponsor_42B  0.00824925
329                                       Person.ID.  0.00817143
343     (Grant.Application.ID, DELEGATED_RESEARCHER)  0.00736257
187                                       Sponsor_2B  0.00722811
263                                      Sponsor_59C  0.00707703
335                                    Years.Uni.std  0.00703374
303                                          Cat_30C  0.00697411
266                                      Sponsor_62B  0.00686436
273                                       Sponsor_6B  0.00632474
345   (Grant.Application.ID, EXT_CHIEF_INVESTIGATOR)  0.00624286
169                                     Sponsor_281A  0.00585188
355                                          c.1.sum  0.00583384
53                                      Sponsor_166B  0.00577276
204                                     Sponsor_318B  0.00555061

In [395]:
y_pred =cv.predict(X_test)

In [396]:
accuracy = np.mean(y_pred == y_test)
accuracy

0.88576349024110224

In [397]:
from sklearn.metrics import confusion_matrix
conmat = np.array(confusion_matrix(y_test, y_pred))
confusion = pd.DataFrame(conmat, index=['not_granted', 'granted'],columns=['predicted_not_granted', 'predicted_granted'])
confusion

             predicted_not_granted  predicted_granted
not_granted                    846                 99
granted                        100                697

In [398]:
from sklearn.metrics import classification_report
cls_rep = classification_report(y_test, y_pred)
print(cls_rep)

             precision    recall  f1-score   support

          0       0.89      0.90      0.89       945
          1       0.88      0.87      0.88       797

avg / total       0.89      0.89      0.89      1742

In [399]:
for i,n in enumerate(input):
    print(i,n)

0 Grant.Status
1 Sponsor_100D
2 Sponsor_101A
3 Sponsor_103C
4 Sponsor_105A
5 Sponsor_107C
6 Sponsor_10B
7 Sponsor_111C
8 Sponsor_112D
9 Sponsor_113A
10 Sponsor_118B
11 Sponsor_11C
12 Sponsor_120D
13 Sponsor_126B
14 Sponsor_128D
15 Sponsor_12D
16 Sponsor_130B
17 Sponsor_132D
18 Sponsor_133A
19 Sponsor_134B
20 Sponsor_135C
21 Sponsor_136D
22 Sponsor_137A
23 Sponsor_138B
24 Sponsor_139C
25 Sponsor_13A
26 Sponsor_140D
27 Sponsor_141A
28 Sponsor_142B
29 Sponsor_143C
30 Sponsor_144D
31 Sponsor_145A
32 Sponsor_146B
33 Sponsor_147C
34 Sponsor_148D
35 Sponsor_149A
36 Sponsor_14B
37 Sponsor_150B
38 Sponsor_151C
39 Sponsor_152D
40 Sponsor_153A
41 Sponsor_154B
42 Sponsor_155C
43 Sponsor_156D
44 Sponsor_157A
45 Sponsor_158B
46 Sponsor_159C
47 Sponsor_15C
48 Sponsor_160D
49 Sponsor_161A
50 Sponsor_162B
51 Sponsor_163C
52 Sponsor_164D
53 Sponsor_165A
54 Sponsor_166B
55 Sponsor_167C
56 Sponsor_168D
57 Sponsor_169A
58 Sponsor_16D
59 Sponsor_170B
60 Sponsor_171C
61 Sponsor_172D
62 Sponsor_173A
63 Sponsor_174B
64 Sponsor_175C
65 Sponsor_176D
66 Sponsor_177A
67 Sponsor_178B
68 Sponsor_179C
69 Sponsor_180D
70 Sponsor_182B
71 Sponsor_183C
72 Sponsor_184D
73 Sponsor_185A
74 Sponsor_186B
75 Sponsor_187C
76 Sponsor_188D
77 Sponsor_189A
78 Sponsor_18B
79 Sponsor_190B
80 Sponsor_191C
81 Sponsor_192D
82 Sponsor_193A
83 Sponsor_194B
84 Sponsor_195C
85 Sponsor_196D
86 Sponsor_197A
87 Sponsor_198B
88 Sponsor_199C
89 Sponsor_1A
90 Sponsor_200D
91 Sponsor_201A
92 Sponsor_202B
93 Sponsor_203C
94 Sponsor_204D
95 Sponsor_205A
96 Sponsor_206B
97 Sponsor_207C
98 Sponsor_208D
99 Sponsor_20D
100 Sponsor_210B
101 Sponsor_211C
102 Sponsor_212D
103 Sponsor_213A
104 Sponsor_214B
105 Sponsor_215C
106 Sponsor_216D
107 Sponsor_217A
108 Sponsor_218B
109 Sponsor_219C
110 Sponsor_21A
111 Sponsor_220D
112 Sponsor_221A
113 Sponsor_222B
114 Sponsor_223C
115 Sponsor_224D
116 Sponsor_225A
117 Sponsor_226B
118 Sponsor_227C
119 Sponsor_228D
120 Sponsor_229A
121 Sponsor_230B
122 Sponsor_232D
123 Sponsor_233A
124 Sponsor_234B
125 Sponsor_235C
126 Sponsor_237A
127 Sponsor_238B
128 Sponsor_239C
129 Sponsor_23C
130 Sponsor_240D
131 Sponsor_241A
132 Sponsor_242B
133 Sponsor_243C
134 Sponsor_244D
135 Sponsor_245A
136 Sponsor_246B
137 Sponsor_247C
138 Sponsor_24D
139 Sponsor_250B
140 Sponsor_251C
141 Sponsor_252D
142 Sponsor_253A
143 Sponsor_255C
144 Sponsor_256D
145 Sponsor_257A
146 Sponsor_258B
147 Sponsor_259C
148 Sponsor_260D
149 Sponsor_261A
150 Sponsor_262B
151 Sponsor_263C
152 Sponsor_265A
153 Sponsor_266B
154 Sponsor_267C
155 Sponsor_268D
156 Sponsor_269A
157 Sponsor_26B
158 Sponsor_270B
159 Sponsor_271C
160 Sponsor_272D
161 Sponsor_273A
162 Sponsor_274B
163 Sponsor_275C
164 Sponsor_276D
165 Sponsor_277A
166 Sponsor_278B
167 Sponsor_279C
168 Sponsor_27C
169 Sponsor_280D
170 Sponsor_281A
171 Sponsor_282B
172 Sponsor_284D
173 Sponsor_285A
174 Sponsor_286B
175 Sponsor_287C
176 Sponsor_288D
177 Sponsor_289A
178 Sponsor_28D
179 Sponsor_290B
180 Sponsor_292D
181 Sponsor_294B
182 Sponsor_295C
183 Sponsor_296D
184 Sponsor_297A
185 Sponsor_298B
186 Sponsor_299C
187 Sponsor_29A
188 Sponsor_2B
189 Sponsor_300D
190 Sponsor_302B
191 Sponsor_303C
192 Sponsor_304D
193 Sponsor_305A
194 Sponsor_307C
195 Sponsor_308D
196 Sponsor_309A
197 Sponsor_310B
198 Sponsor_311C
199 Sponsor_312D
200 Sponsor_313A
201 Sponsor_314B
202 Sponsor_315C
203 Sponsor_316D
204 Sponsor_317A
205 Sponsor_318B
206 Sponsor_319C
207 Sponsor_323C
208 Sponsor_324D
209 Sponsor_325A
210 Sponsor_326B
211 Sponsor_328D
212 Sponsor_329A
213 Sponsor_32D
214 Sponsor_330B
215 Sponsor_331C
216 Sponsor_334B
217 Sponsor_339C
218 Sponsor_33A
219 Sponsor_342B
220 Sponsor_346B
221 Sponsor_347C
222 Sponsor_349A
223 Sponsor_34B
224 Sponsor_357A
225 Sponsor_362B
226 Sponsor_363C
227 Sponsor_36D
228 Sponsor_370B
229 Sponsor_371C
230 Sponsor_372D
231 Sponsor_373A
232 Sponsor_374B
233 Sponsor_37A
234 Sponsor_38B
235 Sponsor_39C
236 Sponsor_3C
237 Sponsor_40D
238 Sponsor_415C
239 Sponsor_41A
240 Sponsor_427C
241 Sponsor_428D
242 Sponsor_429A
243 Sponsor_42B
244 Sponsor_430B
245 Sponsor_431C
246 Sponsor_432D
247 Sponsor_433A
248 Sponsor_434B
249 Sponsor_435C
250 Sponsor_436D
251 Sponsor_437A
252 Sponsor_44D
253 Sponsor_47C
254 Sponsor_48D
255 Sponsor_49A
256 Sponsor_4D
257 Sponsor_51C
258 Sponsor_52D
259 Sponsor_53A
260 Sponsor_54B
261 Sponsor_55C
262 Sponsor_56D
263 Sponsor_58B
264 Sponsor_59C
265 Sponsor_5A
266 Sponsor_60D
267 Sponsor_62B
268 Sponsor_63C
269 Sponsor_65A
270 Sponsor_66B
271 Sponsor_67C
272 Sponsor_68D
273 Sponsor_69A
274 Sponsor_6B
275 Sponsor_72D
276 Sponsor_73A
277 Sponsor_74B
278 Sponsor_75C
279 Sponsor_77A
280 Sponsor_78B
281 Sponsor_7C
282 Sponsor_80D
283 Sponsor_81A
284 Sponsor_82B
285 Sponsor_83C
286 Sponsor_84D
287 Sponsor_85A
288 Sponsor_86B
289 Sponsor_87C
290 Sponsor_89A
291 Sponsor_90B
292 Sponsor_91C
293 Sponsor_93A
294 Sponsor_94B
295 Sponsor_95C
296 Sponsor_97A
297 Sponsor_9A
298 Cat_10A
299 Cat_10B
300 Cat_20A
301 Cat_20C
302 Cat_30A
303 Cat_30B
304 Cat_30C
305 Cat_30D
306 Cat_30E
307 Cat_30F
308 Cat_30G
309 Cat_40C
310 Cat_50A
311 Start.year
312 Start.month
313 Start.day
314 Contract_A
315 Contract_B
316 Contract_C
317 Contract_D
318 Contract_E
319 Contract_F
320 Contract_G
321 Contract_H
322 Contract_I
323 Contract_J
324 Contract_K
325 Contract_L
326 Contract_M
327 Contract_O
328 Contract_P
329 Contract_Q
330 Person.ID.
331 Birth.Mean
332 Birth.std
333 Birth.min
334 Birth.max
335 Years.Uni.avg
336 Years.Uni.std
337 Years.Uni.min
338 Years.Uni.max
339 Ratio.Successful
340 num_succ
341 phd.count
342 phd.mean
343 ('Grant.Application.ID', 'CHIEF_INVESTIGATOR')
344 ('Grant.Application.ID', 'DELEGATED_RESEARCHER')
345 ('Grant.Application.ID', 'EXTERNAL_ADVISOR')
346 ('Grant.Application.ID', 'EXT_CHIEF_INVESTIGATOR')
347 ('Grant.Application.ID', 'HONVISIT')
348 ('Grant.Application.ID', 'PRINCIPAL_SUPERVISOR')
349 ('Grant.Application.ID', 'STUDRES')
350 ('Grant.Application.ID', 'STUD_CHIEF_INVESTIGATOR')
351 faculty
352 dept_no
353 a..1.sum
354 a.1.sum
355 b.1.sum
356 c.1.sum
357 a..1.avg
358 a.1.avg
359 b..1.avg
360 c..1.avg

In [377]:
input["Person.ID."]

Grant.Application.ID
1       15
2       15
3       15
4       15
5       15
6       15
7       15
8       15
9       15
10      15
11      15
12      15
13      15
14      15
15      15
16      15
17      15
18      15
19      15
20      15
21      15
22      15
23      15
24      15
25      15
26      15
27      15
28      15
29      15
30      15
        ..
8679    15
8680    15
8681    15
8682    15
8683    15
8684    15
8685    15
8686    15
8687    15
8688    15
8689    15
8690    15
8691    15
8692    15
8693    15
8694    15
8695    15
8696    15
8697    15
8698    15
8699    15
8700    15
8701    15
8702    15
8703    15
8704    15
8705    15
8706    15
8707    15
8708    15
Name: Person.ID., dtype: int64

8708